<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生管理系统</title>

    <link rel="stylesheet" th:href="@{/static/bootstrap-4.6.0-dist/css/bootstrap.min.css}">
    <script th:src="@{/static/script/jquery-3.6.0.me.js}"></script>
    <script th:src="@{/static/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/script/vue.js}"></script>
    <script th:src="@{/static/script/index.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">学生管理系统</h1>
                <p class="lead text-right">Massachusetts Institute of Technology</p>
                <!-- <p class="text-right"></p>
    <hr class="my-4">
    <p>Content</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form method="GET" th:action="@{/pageWithinAge}">

                <!--                <input type="hidden" name="action" value="pageWithinAge">-->
                <!--                <input type="hidden" name="pageNo" value="1">-->

                <div class="row">
                    <div class="col pr-0">
                        <div class="input-group">
                            <input class="form-control form-inline inline" type="text" name="min_age" id="min_age"
                                   placeholder="最小年龄" th:value="${min_age == null ? '' : min_age}">
                            <div class="input-group-append">
                                <span class="input-group-text" id="my-addon">~</span>
                            </div>
                        </div>
                    </div>

                    <div class="col pl-0">
                        <div class="input-group">
                            <input class="form-control form-inline inline" type="text" name="max_age" id="max_age"
                                   placeholder="最大年龄" th:value="${max_age == null ? '' : max_age}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col text-right">
                        <span class="alert alert-primary p-2 m-4" role="alert">
                            <!--判断用户是否登录。若登录，显示用户名，否则显示“未登录”-->
                            <span th:text="${session.user == null ? '未登录' : '欢迎'+session.user.username+'!'}"></span>
                        </span>
            <div class="btn-group">
                <a th:href="@{/login}" class="btn btn-outline-primary">登录</a>
                <a th:href="@{/register}" class="btn btn-outline-primary">注册</a>
                <a th:href="@{/logout}" id="a_logout" class="btn btn-outline-primary">注销</a>
            </div>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-light table-striped" id="students_table">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="students_tbody">
                <!--                <%&#45;&#45;-->
                <!--                <tr v-for="student in studentInfo">&#45;&#45;%>-->
                <!--                    <%&#45;&#45; {{student.jsonData}}&#45;&#45;%>-->
                <!--                    <%&#45;&#45;-->
                <!--                </tr>-->
                <!--                &#45;&#45;%>-->


                <tr th:each="item: ${page.items}">
                    <td>
                        <!--checkbox复选框，用于批量删除-->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="checkboxStuId" id=""
                                       th:value="${item.stuId}">
                                <!--                                Display value-->
                            </label>
                        </div>
                    </td>
                    <td th:text="${item.stuId}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.gender}"></td>
                    <td th:text="${item.age}"></td>
                    <td>
                        <div class="btn-group">

                            <a th:href="@{'/student/'+${item.stuId}+'/'+${page.pageNo}}" @click="deleteStudent"
                               class="a_delete_item btn btn-outline-primary">删除</a>
                            <a th:href="@{'/toEditStudentPage/'+${item.stuId}+'/'+${page.pageNo}}"
                               class="btn btn-outline-primary">编辑</a>
                        </div>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5"></th>
                    <th class="text-right">

                        <!--删除所有选中的学生, 需要配合javascript一起完成功能-->
                        <button type="button" class="btn btn-primary" id="btn-delete-chosen-students">删除</button>

                        <!--
                             Button trigger modal
                             点击后打开模态框
                         -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#model-add-student">
                            添加学生
                        </button>
                    </th>
                </tr>
                </tfoot>
            </table>

            <!--用于删除a标签的DELETE请求-->
            <form id="delete_form" method="post">
                <input type="hidden" name="_method" value="delete">
            </form>
        </div>
    </div>

    <!--分页页码-->
    <div class="row">
        <div class="col text-center">
            <!--Thymeleaf有分页模板，但是我没学过，这里就自己写个简陋的了-->
            <span th:each="p:${#numbers.sequence(1, page.pageTotal)}">
<!--                <a th:text="${p}" th:href="@{'/'+${p}}"></a>-->
                <!--Request域中有年龄信息的话应跳转到/pageWithinAge, 而不是/-->
                <!--                <a th:text="@{p}" th:href="@{${min_age == null ? '/'+${p} : '/pageWithinAge?min_age='+${min_age}+'&max_age='+${max_age} }"></a>-->
                 <span th:if="${min_age == null && max_age == null }">
                      <a th:text="${p}" th:href="@{'/'+${p}}"></a>
                 </span>
                <span th:if="${min_age != null || max_age != null}">
                    <a th:text="${p}"
                       th:href="@{'/pageWithinAge?min_age='+${min_age}+'&max_age='+${max_age}+'&pageNo='+${p}  }"></a>
                </span>
            </span>
        </div>
    </div>


    <!-- Modal模态框 添加学生-->
    <div class="modal fade" id="model-add-student" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/student}" id="form-add-student">
                        <!--                        <input type="hidden" th:text="@{/student}" id="form-add-student-url">-->

                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input type="text"
                                   class="form-control" name="name" id="name" placeholder="">
                            <small id="help-name" class="form-text text-muted">请输入姓名</small>
                        </div>

                        <div class="form-group">
                            <label for="gender">性别</label>
                            <input type="text"
                                   class="form-control" name="gender" id="gender" aria-describedby="gender"
                                   placeholder="">
                            <small id="help-gender" class="form-text text-muted">请输入男或女</small>
                        </div>

                        <div class="form-group">
                            <label for="age">年龄</label>
                            <input type="text"
                                   class="form-control" name="age" id="age" aria-describedby="help-age" placeholder="">
                            <small id="help-age" class="form-text text-muted">请输入年龄</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn-save-add-student-form">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal模态框 更新学生信息-->
    <!--
         我不知道该怎么回显信息到表单，怎么回去准确的id, 这是前端的工作。
         因此更新学生信息不同模态框，继续使用传统的方法!
         这段代码暂不使用
         调用该模态框的按钮我也没写呢
    -->
    <div class="modal fade" id="model-edit-student" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/editStudent}" id="form-edit-student">
                        <!--                        <input type="hidden" th:value="${}" name="id">-->

                        <div class="form-group">
                            <label for="edit-name">姓名</label>
                            <input type="text"
                                   class="form-control" name="name" id="edit-name" placeholder="">
                            <small id="edit-help-name" class="form-text text-muted">请输入姓名</small>
                        </div>

                        <div class="form-group">
                            <label for="edit-gender">性别</label>
                            <input type="text"
                                   class="form-control" name="gender" id="edit-gender" aria-describedby="gender"
                                   placeholder="">
                            <small id="edit-help-gender" class="form-text text-muted">请输入男或女</small>
                        </div>

                        <div class="form-group">
                            <label for="edit-age">年龄</label>
                            <input type="text"
                                   class="form-control" name="age" id="edit-age" aria-describedby="help-age"
                                   placeholder="">
                            <small id="edit-help-age" class="form-text text-muted">请输入年龄</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn-save-edit-student-form">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>