<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost:8080/studentListWeb/">

    <link rel="stylesheet" href="static/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <script src="static/script/jquery-3.6.0.me.js"></script>
    <script src="static/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/script/vue.js"></script>
    <script src="static/script/register.js"></script>
    <title>出错啦</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">页面出错了！</h1>
                <p class="lead">请联系管理员: xutiankai@outlook.com</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>